# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database
cache.db
data/

# IDE and git files
.idea/
.vscode/
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
docker-compose.prod.yml
