{% from 'template/node/node_macros.html' import node_info_block, node_map_block, node_map_js %}
{% from 'template/object_macros.html' import blocks_toggle, object_tags_block, object_xml_block %}
          <div class="node diff" id="object{{node._id}}" data-objectid="{{node._id}}">
            <div class="row">
              <div class="span3 offset5">
                <h3>Node {{node._id}}:</h3>
              </div>

              {{ blocks_toggle('offset1') }}
            </div>

            <div class="row">
              <!-- Left column -->
              <div class="span6">
                {{ node_info_block(node.prevVersion) }}
              </div>
              <!-- Right column -->
              <div class="span6">
                {{ node_info_block(node) }}
              </div>
            </div>

            <div class="row">
              <!-- Left column -->
              <div class="span6">
                {{ object_tags_block(node.prevVersion) }}
              </div>
              <!-- Right column -->
              <div class="span6">
                {{ object_tags_block(node) }}
              </div>
            </div>

            <div class="row">
              <!-- Left column -->
              <div class="span6">
                {{ object_xml_block(node.prevVersion) }}
              </div>
              <!-- Right column -->
              <div class="span6">
                {{ object_xml_block(node) }}
              </div>
            </div>

            <div class="row">
              <!-- Left column -->
              <div class="span6">
                {{ node_map_block(node.prevVersion, 'left') }}
              </div>
              <!-- Right column -->
              <div class="span6">
                {{ node_map_block(node, 'right') }}
              </div>
              <script language="javascript">
              function showMap{{node._id}}() {
                var mapLeft = createOsmMap('map{{node._id}}left');
                {{ node_map_js('mapLeft', node.prevVersion) }}

                var mapRight = createOsmMap('map{{node._id}}right');
                {{ node_map_js('mapRight', node) }}
              }
              </script>
            </div>
          </div>
