{%- from 'template/relation/relation_macros.html' import relation_info_block, relation_map_block, relation_content_map_js -%}
{%- from 'template/object_macros.html' import blocks_toggle, object_tags_block, object_xml_block, versions_div -%}
{% extends "template/basepage.html" %}

{% block title %}Relation {{relation._id}}{% endblock %}
{% block headerScript %}
    <script language="javascript">
    $(window).load(function () {
      showMap{{relation._id}}();
    });
    </script>
{%endblock%}

{% block content %}
      <h2>Relation {{relation._id}}</h2>
      <p>versions:</p>
      {{ versions_div('/relation/'~relation._id~'/%d', maxVersion, relation.version)}}
      {{ relation_info_block(relation) }}
      {{ object_tags_block(relation, True) }}
      {{ relation_map_block(relation, None, True, 400) }}
      <script language="javascript">
      function showMap{{relation._id}}() {
        var map = createOsmMap('map{{relation._id}}');
        {{ relation_content_map_js('map', relation) }}
        return map;
      }
      </script>
      {{ object_xml_block(relation, True) }}

      <hr>
      {%- if client.requestsCount > 0 %}
      <p>Requests to OSM API: {{client.requestsCount}} in "elapsedTime" sec. <a id="api-details" class="btn">Details</a></p>
      <pre id="api-links-list" class="prettyprint" style="display:none;">{%- for url in client.requestsUrls %}{{url}}
{% endfor -%}</pre>
      {% endif -%}

{%endblock%}
